@charset "utf-8";

@import "https://unpkg.com/ress/dist/ress.min.css";


*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1;
    counter-reset: num 0; 
    position: relative;
}

main{
    padding: 100px 0;
}

.toplogo{
    display: block;
    margin: 0 auto;
}

section{
    width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    padding-left: 120px;
    background-color: #606060;
}

section + section{
    margin-top: 80px;
}

h2{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    padding-top: 56px;
    padding-right: 23px;
    background-color: #3b3b3b;
}

h2::before{
    font-family: serif;
    position: absolute;
    counter-increment: num 1;
    content: counter(num, decimal-leading-zero);
    top: 0;
    font-size: 48px;
}

h2 span{
    writing-mode: vertical-rl;
    padding-left: .5em;
    transform: rotate(180deg);
    border-left: 2px solid #3b3b3b(0, 0%, 54%);
    letter-spacing: .1em;
}

h2 span.jp{
    transform: rotate(180deg);
    text-orientation: sideways-right;
    border-left: 2px solid #3b3b3b;
}

section img{
    width: 400px;
}

.text{
    width: 48%;
    margin-left: auto;
}

.item-copy{
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 2;
}

.item-copy span{
    background-color: #3b3b3b;
    padding: 4px;
}

.desc{
    line-height: 1.6;
    color: white;
    /* background-color: white; */
}

footer{
    background: #3b3b3b;
    color: white;
    padding: 80px 0;
    text-align: center;
}

footer p{
    width: 600px;
    margin: auto;
    line-height: 1.6;
}

footer .foot-copy{
    font-size: 2em;
    margin-bottom: 1em;
}

footer .logo{
    display: block;
    margin: 40px auto;
}

footer .copyright{
    font-size: .8em;
}

